In [1]:
import numpy as np
import pandas as pd

In [2]:
import json
  
# Opening JSON file
f = open('blazepose_jsons/girl1.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)

# Closing file
f.close()

In [3]:
times = pd.json_normalize(data)['time']

# check 851 rows
len(np.unique(times))

851

In [4]:
df = pd.json_normalize(data[0]['poses'], record_path=['keypoints'])
df.head(3)

            x           y              z     score            name
0  761.265460  308.234831 -877945.179683  0.999992            nose
1  767.208088  296.929031 -859649.084806  0.999983  left_eye_inner
2  772.668730  297.654541 -860010.727873  0.999982        left_eye

# set up for iteration

In [5]:
col_names = np.array([])

# add x
x_names = (df['name'].astype(str) + "_x").to_numpy()
# add y 
y_names = (df['name'].astype(str) + "_y").to_numpy()
# add z
z_names = (df['name'].astype(str) + "_z").to_numpy()
# add score
score_names = (df['name'].astype(str) + "_score").to_numpy()

col_names = np.append(col_names, x_names)
col_names = np.append(col_names, y_names)
col_names = np.append(col_names, z_names)
col_names = np.append(col_names, score_names)

print(len(np.unique(col_names)) == len(col_names))
print(len(col_names))

True
132

In [6]:
df_clean=pd.DataFrame(columns=col_names)
df_clean

Empty DataFrame
Columns: [nose_x, left_eye_inner_x, left_eye_x, left_eye_outer_x, right_eye_inner_x, right_eye_x, right_eye_outer_x, left_ear_x, right_ear_x, mouth_left_x, mouth_right_x, left_shoulder_x, right_shoulder_x, left_elbow_x, right_elbow_x, left_wrist_x, right_wrist_x, left_pinky_x, right_pinky_x, left_index_x, right_index_x, left_thumb_x, right_thumb_x, left_hip_x, right_hip_x, left_knee_x, right_knee_x, left_ankle_x, right_ankle_x, left_heel_x, right_heel_x, left_foot_index_x, right_foot_index_x, nose_y, left_eye_inner_y, left_eye_y, left_eye_outer_y, right_eye_inner_y, right_eye_y, right_eye_outer_y, left_ear_y, right_ear_y, mouth_left_y, mouth_right_y, left_shoulder_y, right_shoulder_y, left_elbow_y, right_elbow_y, left_wrist_y, right_wrist_y, left_pinky_y, right_pinky_y, left_index_y, right_index_y, left_thumb_y, right_thumb_y, left_hip_y, right_hip_y, left_knee_y, right_knee_y, left_ankle_y, right_ankle_y, left_heel_y, right_heel_y, left_foot_index_y, right_foot_index_y, nose_z, left_eye_inner_z, left_eye_z, left_eye_outer_z, right_eye_inner_z, right_eye_z, right_eye_outer_z, left_ear_z, right_ear_z, mouth_left_z, mouth_right_z, left_shoulder_z, right_shoulder_z, left_elbow_z, right_elbow_z, left_wrist_z, right_wrist_z, left_pinky_z, right_pinky_z, left_index_z, right_index_z, left_thumb_z, right_thumb_z, left_hip_z, right_hip_z, left_knee_z, right_knee_z, left_ankle_z, right_ankle_z, left_heel_z, right_heel_z, left_foot_index_z, right_foot_index_z, nose_score, ...]
Index: []

[0 rows x 132 columns]

# Iterate for each frame in video

In [8]:
for i in np.arange(len(data)):
    df_temp = pd.json_normalize(data[i]['poses'], record_path=['keypoints'])
    if len(df_temp)>0:
        x_values = df_temp['x'].tolist()
        y_values = df_temp['y'].tolist()
        z_values = df_temp['z'].tolist()
        score_values = df_temp['score'].tolist()

        all_values = np.append(x_values, y_values)
        all_values = np.append(all_values, z_values)
        all_values = np.append(all_values, score_values)
        len(all_values)

        df_clean.loc[i] = all_values

In [9]:
len(pd.json_normalize(data[2]['poses'], record_path=['keypoints']))

33

In [10]:
df_final = df_clean.reset_index().rename(columns={"index":'frame'})
df_final

,frame,nose_x,left_eye_inner_x,left_eye_x,left_eye_outer_x,right_eye_inner_x,right_eye_x,right_eye_outer_x,left_ear_x,right_ear_x,...,left_hip_score,right_hip_score,left_knee_score,right_knee_score,left_ankle_score,right_ankle_score,left_heel_score,right_heel_score,left_foot_index_score,right_foot_index_score
0,0,761.265460,767.208088,772.668730,776.141169,752.245392,746.790194,742.567051,776.953676,732.284044,...,0.998976,0.999489,0.943629,0.989620,0.888427,0.958677,0.755355,0.721126,0.885620,0.915897
1,1,765.001892,772.472916,778.001803,782.664788,755.844063,750.570979,745.718260,787.628335,739.789794,...,0.998986,0.999482,0.944937,0.988970,0.880122,0.955460,0.736900,0.706026,0.877547,0.911047
2,2,771.297245,777.089418,782.025350,786.048754,760.468549,754.803615,750.330085,788.332729,741.936949,...,0.999068,0.999504,0.938800,0.983098,0.836420,0.941570,0.675904,0.665578,0.834606,0.888905
3,3,771.600942,777.215763,782.282664,786.503116,761.475724,755.917205,751.149491,788.462470,742.140836,...,0.999188,0.999544,0.930180,0.976552,0.787414,0.927262,0.606601,0.626644,0.785807,0.865522
4,4,768.161419,775.226075,779.324757,783.637022,759.338747,754.037431,749.994390,786.051328,740.380711,...,0.999278,0.999575,0.933331,0.975363,0.779720,0.925339,0.574653,0.611826,0.775569,0.861592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846,846,687.135341,692.643315,697.739997,701.243006,675.913248,670.385027,664.674659,701.849574,656.199942,...,0.999654,0.999609,0.791548,0.729732,0.622938,0.576346,0.380348,0.362893,0.589152,0.504051
847,847,685.306989,688.416994,692.917572,696.408034,674.081715,668.086203,663.035365,696.609593,653.511561,...,0.999471,0.999396,0.738149,0.690210,0.565839,0.551614,0.331370,0.328236,0.526924,0.467872
848,848,682.185822,682.575079,687.027781,690.565558,670.311015,664.869200,659.903795,688.604910,648.815972,...,0.999280,0.999302,0.680505,0.650292,0.503490,0.507863,0.285272,0.290780,0.465701,0.424343
849,849,670.249790,671.420154,676.022414,679.695986,658.714894,653.438801,648.097800,675.244113,636.450040,...,0.999263,0.999345,0.643377,0.619168,0.464532,0.463934,0.251390,0.255078,0.429175,0.383682
850,850,652.952593,655.499180,659.944953,663.885114,641.049585,635.648812,630.475644,666.357879,622.329262,...,0.999234,0.999365,0.642429,0.603117,0.452060,0.437222,0.230109,0.232976,0.415473,0.357769

In [15]:
# used to save csv files for next steps
### DO NOT UNCOMMENT UNLESS TRYING TO CREATE NEW VERSIONS OF CSVs
# df_final.to_csv('blazepose_csv/girl1.csv')